* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2c8c8;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

#title_small {
    font-size: 15px;
    color: rgb(3, 3, 66);
}

.form_container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.form_controll {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #d2c8c8;
    border-radius: 5px;
    font-size: 15px;
}

input:focus {
    outline-color: red;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;

}

button {
    background-color: rgb(77, 19, 19);
    border: 4px;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s ease-in;

}

button:hover {
    background-color: #d2c8c8;
    border: 2px solid #9b1f1f;
    color: black;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.textarea_controll {
    grid-column: 1/span 2;
}

.textarea_controll textarea {
    width: 100%;
}


@media (max-width : 460px) {
    .textarea_controll {
        grid-column: 1/span 1;
    }
}